[package]
name = "nietzsche-server"
version = "0.1.0"
edition = "2021"
description = "NietzscheDB production gRPC server binary"

[[bin]]
name = "nietzsche-server"
path = "src/main.rs"

[dependencies]
nietzsche-api   = { workspace = true }
nietzsche-graph = { workspace = true }
nietzsche-sleep = { workspace = true }
nietzsche-query = { workspace = true }
tokio           = { workspace = true }
tracing         = { workspace = true }
rand            = { workspace = true }
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
anyhow = "1.0"
tonic-reflection = "0.10"
axum = "0.7"
tower-http = { version = "0.5", features = ["cors"] }
serde_json = "1.0"
